-
  const content = {
    p1: '...',
    p2: 'gdy stawałem się dorosłym człowiekiem, ciągle słyszałem głos Dziadka mówiącego o Domu przyjaźni i miłości. Cały czas obraz ten kojarzy mi się z drewnianym ciepłym Domem krytym strzechą. Domem który żył, Domem który miał duszę',
    p3: '...',
  }
.box
  .rows
    .row
      .box
        .woodFllor
      .box
        .wood
    .row
      .box
        .family
      .box
        .handKey
          p.strong=content.p1
          p.strong=content.p2
          p.strong=content.p3