-
  const content = [
    'Budowa domów z drewna',
    'Budowa bram wjazdowych',
    'Wykończenie wnętrz',
    'Altany ogrodowe',
    'Kamienne elementy architektury',
    'Remonty',
  ]
section.box
  .flatPlane
    each item in content
      h3=item.toUpperCase()